<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tfg3">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MenuActivityAlumno"
            android:label="@string/title_activity_evaluaciones"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.MenuActivityProfesor"
            android:label="@string/title_activity_evaluaciones"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.MenuActivityPadre"
            android:label="@string/title_activity_evaluaciones"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.UsuariosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.UsuariosActivityEstatico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AdministradorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.RegistroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.AlumnoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>